.photo {
  width: 150px;
  height: 150px;
}

.selectedPage {
  font-weight: bolder;
  color: darkred;
}

paginator {
  margin: 10px;
}

.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}
