.header {
  grid-area: h;
  background-color: brown;
}

.header img {
  width: 95px;
}

.logBlock {
  float: right;
  color: aliceblue;
  text-decoration: none;
}

.logBlock a {
  color: aliceblue;
  text-decoration: none;
}
